<div class="container">
  <div class="row vertical-center-row">
      <div class="col-xs-2 col-xs-offset-5 text-center well">
        <h2><%= t('layers.login.title') %></h2>
        <input type="text" id="login_email_input" placeholder="<%= t('models.user.email') %>">
        <input type="password" id="login_password_input" placeholder="<%= t('models.user.password') %>">
        <button type="button" onclick="Login();"><%= t('buttons.login') %></button>
        <button type="button" onclick="Register();"><%= t('buttons.register') %></button>
        <button type="button" onclick="LoginGuest();"><%= t('buttons.guest') %></button>
      </div>
  </div>
</div>