<div class="container">
  <div class="row vertical-center-row">
      <div class="col-md-2 col-md-offset-5 text-center well">
        <h2><%= t('layers.register.title') %></h2>
        <input type="text" id="register_name_input" placeholder="<%= t('global_words.survivor') %> <%= t('models.user.name') %>">
        <input type="text" id="register_last_name_input" placeholder="<%= t('global_words.survivor') %> <%= t('models.user.last_name') %>">
        <input type="text" id="register_email_input" placeholder="<%= t('models.user.email') %>">
        <input type="password" id="register_password_input" placeholder="<%= t('models.user.password') %>">
        <input type="password" id="register_password_confirmation_input" placeholder="<%= t('models.user.password_confirmation') %>">
        <button type="button" onclick="Register();"><%= t('buttons.register') %></button>
        <button type="button" onclick="UnRegister();"><%= t('buttons.back') %></button>
      </div>
  </div>
</div>