<!DOCTYPE html>
<html>
  <head>
    <title>Nvjerverjkvnvr</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var assets_version = '<%= Rails.application.config.assets.version %>';
    </script>
  </head>
  <body>
      <%= yield %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-theme' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= content_for :files_imported %>
  </body>
</html>
